body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background-color: black;
}
header {
    position: relative;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  header .container {
    position: relative;
    z-index: 2;
  }
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 1;
  }
  nav{
    z-index: 2;
    background-color: transparent;
    width: 100%;
}
.navbar-brand{
    font-family: 'Monoton', cursive;
    font-size: 2em;
    color: white;
}
.nav-link{
    font-family: 'Abril Fatface', cursive;
    color: white;
    font-size: 1.5em;
    margin-right: 25px;
}
#maj{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
#slogan{
    position: absolute;
    top:60%;
    left: 10%;
    font-family: 'Coda Caption', sans-serif;
}
footer{
	font-family: copperplateGothic; 
	color: #AF8050;
	border:1px solid black;
	background-color: #0C1015;
}
.svg{
	padding-left: 10px;
	padding-right: 10px;
}
.svg-img{
	width: 25px;height: 25px;
}
section{
    background-color: #0D0D16;
    font-family: 'Abril Fatface', cursive;
}
.hover-color:hover{
    color: white;
}
.paragraf{
    color: white;
    font-size: 20px;
    line-height: 40px;
}